/* Main Menu */
ul#main-menu {
	background-color: #FF9000;
}


/* Nav Tree */
div#nav-tree ul {
	list-style: none outside none;
}
div#nav-tree div#selected, div#nav-tree div.item.selected {
	background-color: #804000;
}


/* Nav Path */
div.navpath {
	line-height: 140%;
	background-color: #303030;
}
div.navpath ul {
	margin: 0;
	padding: 0;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-size: 11px;
	border: none;
}
div.navpath ul > li {
	list-style-type: none;
    float: left;
}
div.navpath ul > li.navelem > a {
	display: inline-block;
	height: 23px;
	line-height: 23px;
	padding: 0 5px;
}
div.navpath ul > li.navelem > a:hover {
	background-color: #404040;
}
div.navpath ul > li.navelem:first-child {
    padding-left: 5px;
}
div.navpath ul > li.navelem:not(:first-child)::before {
	content: '>';
    padding: 0 5px;
}
div.navpath ul > li.footer {
	position: relative;
	top: -10px;
    padding-right: 15px;
	float: right;
	font-size: 10pt;
	transform: scale(0.75) translate(17.5%, 5%);
}
div.navpath ul > li.footer > a {
	position: relative;
	display: inline-block;
	top: 10px;
}
