# Decent git implementations will support this flawlessly.
*
!*/
!*.c
!*.h
!*.cbp
!*.workspace
!.gitignore
!.gitattributes
!.editorconfig
!*.sh
!*.md

# Visual Studio on the other hand, doesn't give a shit.
.suo
*.suo
*.filters
*.user
*.sdf
