# Decent git implementations will support this flawlessly.
*
!*/
!*.c
!*.h
!*.cbp
!*.workspace
!.gitignore
!.gitattributes
!.editorconfig
!*.sh
!*.md
!*.kdev4

# Visual Studio on the other hand, doesn't give a shit.
bin
obj
.suo
*.suo
*.filters
*.user
*.sdf
*.dll
*.exp
*.ilk
*.tlog
*.obj
*.log
*.idb
*.pdb
distro

ignore
