/* Syntax highlighting */
span.keyword		{ color: #5FC55F; }
span.keywordtype	{ color: #9C7650; }
span.keywordflow	{ color: #E08000; }
span.comment		{ color: #808080; }
span.preprocessor	{ color: #7A6231; }
span.stringliteral	{ color: #62B1FB; }
span.charliteral	{ color: #0DB1B1; }
span.vhdldigit		{ color: #FF00FF; }
span.vhdlchar		{ color: #000000; }
span.vhdlkeyword	{ color: #700070; }
span.vhdllogic		{ color: #FF0000; }

div.fragment {
	padding: 0px;
	margin: 4px 8px 4px 2px;
	background-color: #242424;
	border: 1px solid #3A3A3A;
}

div.line {
	font-family: monospace, fixed;
	font-size: 13px;
	min-height: 13px;
	line-height: unset;
	text-wrap: unrestricted;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	text-indent: -53px;
	padding-left: 53px;
	padding-bottom: 0px;
	margin: 0px;
}
div.line:nth-child(even) {
	background-color: #262626;
}
div.line:nth-child(even) > span.lineno {
	background-color: #3C3C3C;
}

div.line::after {
	content: "\000A";
	white-space: pre;
}

div.line.glow, div.line.glow * {
	-webkit-transition-property: background-color, box-shadow;
	-webkit-transition-duration: 0.5s;
	-moz-transition-property: background-color, box-shadow;
	-moz-transition-duration: 0.5s;
	-ms-transition-property: background-color, box-shadow;
	-ms-transition-duration: 0.5s;
	-o-transition-property: background-color, box-shadow;
	-o-transition-duration: 0.5s;
	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
	color: black !important;
	background-color: #C06000;
	box-shadow: 0 0 7px #C06000;
}


span.lineno {
	text-align: right;
	border-right: 2px solid #FF8000;
	background-color: #363636;
	white-space: pre;
	padding-right: 4px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
span.lineno a {
	background-color: #483636;
}

span.lineno a:hover {
	background-color: #403232;
}
